---
import Layout from '@layouts/Layout.astro';
import Container from '@components/Container.astro';
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import halilJpg from '/public/halil.jpg';
import { SITE, HOME, SOCIALS } from '@consts';
import ArrowCard from '@components/ArrowCard.astro';
import Link from '@components/Link.astro';
import { getCollection } from 'astro:content';

const blog = (await getCollection('blog'))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION} isHome={true}>
  <Container>
    <aside data-pagefind-ignore>
      <Image
        src={halilJpg}
        alt="Halil"
        loading="eager"
        class="mb-4 size-24 place-self-center rounded-full border-2 border-stone-300 transition-colors duration-300 ease-in-out hover:border-stone-400 active:border-stone-400 sm:size-32 dark:border-stone-600 dark:opacity-75 dark:transition-opacity dark:hover:opacity-100"
      />

      <p class="mb-4 text-center font-light sm:text-lg">
        2 &times; dad, &epsilon; &times; programmer
        <span class="text-sm"><Link href="/about">more&hellip;</Link></span>
      </p>

      <ul class="mb-8 flex flex-wrap justify-center gap-x-3">
        {
          SOCIALS.map((SOCIAL) => (
            <li>
              <Link
                href={SOCIAL.HREF}
                external
                aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`}
                class="gap-x-1 text-nowrap"
              >
                <Icon class="size-6" name={SOCIAL.ICON} />
                <span class="hidden sm:inline-block">{SOCIAL.NAME}</span>
              </Link>
            </li>
          ))
        }
      </ul>

      <section class="space-y-6">
        <div class="flex flex-wrap items-center justify-between gap-y-2">
          <h2 class="font-semibold text-black dark:text-white">Latest posts</h2>
          <Link href="/blog">See all posts</Link>
        </div>
        <ul class="not-prose grid grid-cols-1 gap-4 sm:grid-cols-2">
          {
            blog.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))
          }
        </ul>
      </section>
    </aside>
  </Container>
</Layout>
